<div class='bc-item'>
    <div class='bc-circle'>
        <span title='<%- title.dashboard %>' data-action='dashboard' class='bc-entry bc-active'>
            <div class='bc-title bc-title-one'><%- dashboard %></div>
        </span>
    </div>
</div><div class="bc-line"></div>

<div class='bc-item'>
    <div class='bc-circle'>
        <span title='<%- title.bench %>' data-action='bench' class='bc-entry'>
            <div class='bc-title bc-title-two'><%- workbench %></div>
        </span>
    </div>
</div><div class="bc-line"></div>

<div class='bc-item'>
    <div class='bc-circle'>
        <span title='<%- title.chart %>' data-action='chart' class='bc-entry'>
            <div class='bc-title bc-title-three'><%- graph %></div>
        </span>
    </div>
</div><div class="bc-line"></div>
<div class='bc-item'>
    <div class='bc-circle'>
        <span title='<%- title.manage %>' data-action='manage' class='bc-entry'>
            <div class='bc-title bc-title-four'><%- manage %></div>
        </span>
    </div>  
</div>
